body {
	font-family: "Cuprum", "Arial", sans-serif;
	margin: 0;
}

* {
	box-sizing: border-box;
}

i {font-size: 16px;}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

.header-top {
	background-color: #293449;
	color: #fff;
	font-size: 17px;
	line-height: 42px;
}

.header-top a {
	display: block;
	color: #fff;
	text-decoration: none;
}

.logo {
	float: left;
}

.logo a {
	position: relative;
	font-size: 24px;
	line-height: 42px;
	width: 220px;
}

.btn-red {
	display: block;
	text-decoration: none;
	background-color: #ee3643;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	border-radius: 3px;
}

.btn-red:hover {
	background-color: #ca2c37;
}

.btn-red:active {
	background-color: #ba2732;
}

.logo a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 5px;
	width: 100%;
	background-color: #b52933;
}

.logo a:hover:after {
	background-color: #9a212a;
}

.logo a:active:after {
	background-color: #8e1e26;
}

::-webkit-input-placeholder {color:#fff; font-family: "Cuprum", "Arial", sans-serif; font-size: 17px;}
::-moz-placeholder          {color:#fff; font-family: "Cuprum", "Arial", sans-serif; font-size: 17px;}
:-moz-placeholder           {color:#fff; font-family: "Cuprum", "Arial", sans-serif; font-size: 17px;}
:-ms-input-placeholder      {color:#fff; font-family: "Cuprum", "Arial", sans-serif; font-size: 17px;}

.search {
	position: relative;
	float: left;
	width: 270px;
	font-size: 17px;
	line-height: 42px;
}

.search input {
	background-color: #293449;
	background-image: url(../img/icon-search.png);
	background-repeat: no-repeat;
	background-position: 17px 12px;
	color: #fff;
	border: none;
	padding-left: 47px;
	width: 100%;
	line-height: 40px;
}

.search input:hover {
	background-color: #212a3a;
	background-image: url(../img/icon-search-hover.png);
}

.search input:focus {
	background-color: #fff;
	background-image: url(../img/icon-search-focus.png);
	color:#000;
}

.fr-item {
	float: right;
	width: 150px;
}

.fr-item a {
	padding-left: 43px;
	position: relative;
}

.cart a {
	padding-left: 48px;
}

.fr-item a:hover {
	background-color: #212a3a;
}

.fr-item a:active {
	color: #8b8e94;
	background-color: #161d29; 
}

.fr-item a::before {
	font-family: icons;
	content: "";
	position: absolute;
	left: 17px;
	top: 50%;
	transform: translateY(-53%);
	opacity: 0.3;
}

.fr-item a:hover:before {
	opacity: 1;
}

.fr-item a:active:before {
	opacity: 0.5;
}

.cart a::before {
	content: "\e802";
}

.bookmarks a::before {
	content: "\e801";
}

.order a {
	background-color: #63a63e;
	text-align: center;
	padding: 0;
}

.order a:hover {
	background-color: #5fbb2d;
}

.order a:active {
	background-color: #518534;
	color: #a4bf94;
}

.header-bottom {
	background-color: #f2f6f8;
	padding-bottom: 60px;
}

.header-middle {
	padding: 50px 0px 39px 52px;
}

.header-description {
	float: left;
	width: 205px;
	color: #ee3643;
	font-style: italic;
	line-height: 23px;
	font-size: 16px;
	margin-right: 63px;
}

.header-description p {
	margin: 0;
}

.header-contacts {
	float: left;
	width: 270px;
	margin-top: -5px;
}

.header-contacts .phone {
	position: relative;
	font-size: 21px;
	color: #ee3643;
	line-height: 40px;
	border: 3px solid #fff;
	padding-left: 70px;
}

.header-contacts .phone::before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
	left: 15px;
	font-family: icons;
	content: "\e803";
	color: #b7bfc8;
}

.header-contacts .adress {
	font-size: 14px;
	color: #32425c;
	text-align: center;
	margin-top: 9px;
}

.user-block {
	float: right;
}

.user-block a {
	display: block;
	text-decoration: none;
	padding: 0 25px;
	color: #000;
	background-color: #fff;
	font-size: 21px;
	line-height: 45px;
	margin-top: -3px;
}

.user-block .login {
	position: relative;
	float: left;
	margin-right: 10px;
	padding-left: 45px;
}

.user-block a:hover {
	color: #ee3643;
}

.user-block a:active {
	color: #c5c5c5;
}

.user-block .login::before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
	font-family: icons;
	content: "\e804";
	color: #c5c5c5;
}

.user-block .login:hover:before {
	color: #32425c;
}

.user-block .login:active:before {
	color: #c5c5c5;
}

.user-block .registration {
	float: right;
}

.main-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #32425c;
}

.main-menu li {
	float: left;
}

.main-menu li:last-of-type {
	float: right;
}

.main-menu a {
	display: block;
	text-decoration: none;
	padding-left:31px;
	padding-right:30px;
	font-size: 17px;
	line-height: 60px;
	background-color: #32425c;
	color: #fff;
	box-shadow: inset 0 -5px 0 #293449;
}

.main-menu a:hover {
	background-color: #293449;
}

.main-menu a:active {
	background-color: #1d2739;
	color: #f1f2f4;
}

.main-menu li:first-of-type a {
	padding-left: 51px;
}

.main-menu li:last-of-type a {
	padding-right: 54px;
	padding-left: 32px;
}

.content-items {
	font-size: 0;
	margin-top: 59px;
}

.content-item {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 123px;
	color: #fff;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-top: 22px;
}

.content-item:nth-of-type(3n) {
	margin-right: 0;
	margin-bottom: 0;
}

.item-title {
	font-size: 24px;
	margin-top: 0px;
	margin-left: 21px;
	margin-bottom: 13px;
	font-weight: bold;
}

.btn-items {
	width: 135px;
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	display: block;
	margin-left: 25px;
	color: #fff;
	background-color: rgba(0,0,0,0.1);
	border-radius: 3px;
}

.btn-items:hover {
	background-color: rgba(0,0,0,0.2);
}
.btn-items:active {
	background-color: rgba(0,0,0,0.3);
}

.item-materials {
	position: relative;
	background-color: #f6b22d;
	background-image: url("../img/materials.png");
	background-repeat: no-repeat;
	background-position: 214px 31px;
}

.item-tools {
	background-color: #4aafde;
	background-image: url("../img/tools.png");
	background-repeat: no-repeat;
	background-position: 194px 33px;
}

.item-machinery {
	background-color: #cc79d1;
	background-image: url("../img/machinery.png");
	background-repeat: no-repeat;
	background-position: 189px 31px;
}

.item-delivery {
	background-color: #f6b22d;
	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;
	background-position: 189px 31px;
}

.item-discounts {
	background-color: #85d179;
	background-image: url("../img/discounts.png");
	background-repeat: no-repeat;
	background-position: 199px 27px;
}

.new::after {
	content: "";
	position: absolute;
	width: 60px;
	height: 59px;
	background-image: url("../img/new.png");
	top: 0;
	right: 0;
}

.slider {
	position: relative;
	float: left;
	width: 620px;
	height: 266px;
	margin-right: 0;
	color: #fff;
}

.slider-title {
	font-size: 36px;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
	padding-top: 20px;
	margin-left: 24px;
}

.slider-description {
	font-size: 18px;
	margin-left: 25px;
	letter-spacing: 1px;
}

.slider-block {
	width: 620px;
	height: 266px;
	display: none;
}

.slider-1 {
	background-image: url("../img/slider-1.jpg");
}

.slider-2 {
	background-image: url("../img/slider-2.jpg");
}

.btn-catalog {
	display: block;
	font-size: 14px;
	width: 197px;
	margin-left: 25px;
	margin-bottom: 25px;
	line-height: 38px;
	border-radius: 3px;
	margin-top: 122px;
}

.slider input[type="radio"] {
	display: none;
}

.slider input[type="radio"]:checked + .slider-block {
	display: block;
}

.slider-controls {
	position: absolute;
	font-size: 20px;
	color: #fff;
	bottom: 35px;
	left: 50%;
	transform: translateX(-50%);
}

.slider-controls label {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid #fff;
}

#slider-1:checked ~ .slider-controls .label-1 {
	background-color: #ee3643;
}

#slider-2:checked ~ .slider-controls .label-2 {
	background-color: #ee3643;
}

.content-right {
	float: right;
}

.content-right .content-item {
	margin-right: 0;
	display: block;
}

.side-controls label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 22px;
	height: 40px;
	cursor: pointer;
}

.arrow-left {
	left: 25px;
	background-image: url(../img/icon-left.png);
}

.arrow-right {
	right: 25px;
	background-image: url(../img/icon-right.png);
}

.popular-goods {
	margin-top: 33px;
}

.popular-header {
	background-color: #f7f3ec;
}

.popular-title {
	float: left;
	line-height: 90px;
	font-size: 30px;
	font-weight: normal;
	color: #32425c;
	margin: 0 30px;
	text-transform: uppercase;
}

.btn-popular {
	float: right;
	margin-right: 25px;
	line-height: 38px;
	margin-top: 25px;
	width: 253px;
	font-size: 14px;
}

.goods-container {
	font-size: 0;
}

.goods-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 318px;
	margin: 20px;
	margin-left: 0;
	border: 1px solid #ccc;
}

.goods-item:nth-of-type(4n) {
	margin-right: 0;
}

.goods-item img {
	position: absolute;
}

.goods-item:nth-of-type(1) img {
	top: 5px;
	left: 20px;
}

.goods-item:nth-of-type(2) img {
	top: 30px;
	left: 40px;
}

.goods-item:nth-of-type(3) img {
	top: 20px;
	left: 27px;
}

.goods-item:nth-of-type(4) img {
	top: 30px;
	left: 33px;
}

.item-caption {
	margin-top: 178px;
	font-size: 18px;
	line-height: 20px;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 10px;
	padding: 0;
}

.goods-item:last-of-type .item-caption{
	margin-bottom: 38px;
}

.price-old {
	font-size: 17px;
	text-decoration: line-through;
	text-align: center;
	letter-spacing: 1px;
	color: #999999;
	font-weight: bold;
	margin-bottom: 8px;
}

.price-new {
	position: relative;
	font-size: 17px;
	width: 142px;
	line-height: 38px;
	margin-left: 42px;
	letter-spacing: 1px;
}

.price-new::after {
	content: "";
	position: absolute;
	right: -19.5px;
	top: 0;
	border: 19.5px solid white;
	border-left-color: transparent;
}

.goods-item:hover img {
	display: none;
}

.goods-item:hover {
	box-shadow: 0 10px 13px 0 #666;
}

.btns-container {
	display: none;
	position: absolute;
	top: 43px;
	left: 50%;
	transform: translateX(-50%);
}

.btn {
	display: block;
	width: 135px;
	line-height: 38px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
}

.btn-buy {
	position: relative;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
	color: #fff;
	margin-bottom: 7px;
}

.btn-buy::before {
	position: absolute;
	top: -2px;
	left: 12px;
	font-family: icons;
	content: "\e802";
	font-size: 17px;
	color: #ccc;
}

.btn-buy:hover {
	background-color: #5fbb2d;
}

.btn-buy:hover:before {
	color: #fff;
}

.btn-buy:active {
	background-color: #518534;
	box-shadow: none;
}

.btn-bookmark {
	border: 3px solid #63a63e;
	color: #32425c;
}

.btn-bookmark:hover {
	border-color: #32425c;
}

.btn-bookmark:active {
	border-color: #c1c6ce;
	color: #c1c6ce;
}

.goods-item:hover .btns-container {
	display: block;
}

.popular-producers .popular-title {
	margin-left: 26px;
}

.brands-container {
	font-size: 0;
	margin-bottom: 84px;
}

.brand {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 145px;
	margin: 20px;
	margin-left: 0;
	margin-bottom: 0;
	border: 1px solid #ccc;
}

.brand:nth-of-type(4n) {
	margin-right: 0;
}

.brand img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.brand:nth-of-type(4n) img {
	top: 65px;
}

.brand:hover {
	box-shadow: 0 10px 15px 0 #666;
}

.brand:active {
	opacity: 0.5;
}

.services {
	background-color: #f2f6f8;
	padding-top: 37px;
	padding-bottom: 100px;
}

.services-title {
	font-size: 30px;
	font-weight: normal;
}

.services-description {
	width: 404px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.3px;
	margin-bottom: 70px;
}

.service-tabs {
	float: left;
}

.service-tabs > input {
	display: none;
}

.service-tabs label {
	display: block;
	width: 240px;
	height: 60px;
	padding: 0 20px;
	line-height: 60px;
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	background-color: #32425c;
	border-bottom: 1px solid #000;
}

.service-tabs label:last-of-type {
	border-bottom: none;
}

.service-tabs label:hover {
	background-color: #293449;
}

.service-tabs > input:checked + label {
	background-color: #fff;
	color: #32425c;
}

.tabs-content {
	position: relative;
	float: right;
	width: 624px;
}

.tabs-content div {
	position: absolute;
	width: 624px;
	opacity: 0;
}

#tab-nav-1:checked ~ .tabs-content div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs-content div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs-content div:nth-of-type(3) {
	opacity: 1;
}







