/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-delivery {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 78px;
  height: 63px;
}
.icon-discounts {
  background-image: url(sprite.png);
  background-position: -156px 0px;
  width: 59px;
  height: 72px;
}
.icon-icon_bookmark {
  background-image: url(sprite.png);
  background-position: -196px -124px;
  width: 14px;
  height: 16px;
}
.icon-icon_cart {
  background-image: url(sprite.png);
  background-position: -179px -124px;
  width: 17px;
  height: 16px;
}
.icon-icon_close {
  background-image: url(sprite.png);
  background-position: -156px -102px;
  width: 21px;
  height: 21px;
}
.icon-icon_fb {
  background-image: url(sprite.png);
  background-position: -44px -164px;
  width: 10px;
  height: 18px;
}
.icon-icon_home {
  background-image: url(sprite.png);
  background-position: -108px -141px;
  width: 15px;
  height: 12px;
}
.icon-icon_insta {
  background-image: url(sprite.png);
  background-position: -128px -124px;
  width: 17px;
  height: 17px;
}
.icon-icon_left {
  background-image: url(sprite.png);
  background-position: -66px -124px;
  width: 22px;
  height: 40px;
}
.icon-icon_login {
  background-image: url(sprite.png);
  background-position: -88px -124px;
  width: 20px;
  height: 17px;
}
.icon-icon_login_hover {
  background-image: url(sprite.png);
  background-position: -108px -124px;
  width: 20px;
  height: 17px;
}
.icon-icon_logout {
  background-image: url(sprite.png);
  background-position: -135px -81px;
  width: 21px;
  height: 17px;
}
.icon-icon_logout_hover {
  background-image: url(sprite.png);
  background-position: -135px -98px;
  width: 21px;
  height: 17px;
}
.icon-icon_ok {
  background-image: url(sprite.png);
  background-position: -156px -72px;
  width: 39px;
  height: 30px;
}
.icon-icon_phone {
  background-image: url(sprite.png);
  background-position: -195px -72px;
  width: 19px;
  height: 19px;
}
.icon-icon_right {
  background-image: url(sprite.png);
  background-position: -44px -124px;
  width: 22px;
  height: 40px;
}
.icon-icon_right_small {
  background-image: url(sprite.png);
  background-position: -123px -141px;
  width: 8px;
  height: 12px;
}
.icon-icon_search {
  background-image: url(sprite.png);
  background-position: -197px -102px;
  width: 17px;
  height: 17px;
}
.icon-icon_search_focus {
  background-image: url(sprite.png);
  background-position: -162px -124px;
  width: 17px;
  height: 17px;
}
.icon-icon_search_hover {
  background-image: url(sprite.png);
  background-position: -145px -124px;
  width: 17px;
  height: 17px;
}
.icon-icon_user {
  background-image: url(sprite.png);
  background-position: -135px -63px;
  width: 20px;
  height: 18px;
}
.icon-icon_user_hover {
  background-image: url(sprite.png);
  background-position: -177px -102px;
  width: 20px;
  height: 18px;
}
.icon-icon_vk {
  background-image: url(sprite.png);
  background-position: -88px -141px;
  width: 20px;
  height: 12px;
}
.icon-machinery {
  background-image: url(sprite.png);
  background-position: -78px 0px;
  width: 78px;
  height: 62px;
}
.icon-materials {
  background-image: url(sprite.png);
  background-position: 0px -124px;
  width: 44px;
  height: 65px;
}
.icon-new {
  background-image: url(sprite.png);
  background-position: -75px -63px;
  width: 60px;
  height: 59px;
}
.icon-tools {
  background-image: url(sprite.png);
  background-position: 0px -63px;
  width: 75px;
  height: 61px;
}
